services:
  nest-runapp:
    build:
      dockerfile: .docker/nest/Dockerfile
    restart: unless-stopped
    ports:
      - ${DOCKER_NEST_PORT}:3001
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_DBNAME}
      DB_PORT: ${DB_PORT}
      TESTDB_HOST: ${TESTDB_HOST}
      TESTDB_PORT: ${TESTDB_PORT}
      TESTDB_USER: ${TESTDB_USER}
      TESTDB_PASS: ${TESTDB_PASS}
      TESTDB_NAME: ${TESTDB_DBNAME}
    volumes:
      - ./:/home/node/app
    depends_on:
      - db-runapp

  db-runapp:
    image: postgres:16.1-alpine3.19
    restart: always
    ports:
      - ${DB_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  testdb-runapp:
    image: postgres:16.1-alpine3.19
    restart: always
    ports:
      - ${TESTDB_PORT}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
