NEST_PORT=3000

DB_HOST=localhost #db-runapp
DB_PORT=5432
DB_USER=root
DB_PASS=pass
DB_DBNAME=postgres

POSTGRES_USER=root
POSTGRES_PASSWORD= pass
POSTGRES_DB=postgres

TESTDB_HOST=localhost #testdb-runapp
TESTDB_PORT=5433
TESTDB_USER=testdbuser
TESTDB_PASS=testdbpass
TESTDB_DBNAME=testdbpostgres