# JWT
JWT_SECRET=YOUR_SECRET_KEY_HERE
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600

NEST_PORT=3000

DB_HOST=db-runapp
DB_PORT=5432
DB_USER=root
DB_PASS=pass
DB_DBNAME=postgres

POSTGRES_USER=root
POSTGRES_PASSWORD= pass
POSTGRES_DB=postgres

TESTDB_HOST=testdb-runapp
TESTDB_PORT=5432
TESTDB_USER=testdbuser
TESTDB_PASS=testdbpass
TESTDB_DBNAME=testdbpostgres